/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #E0FFFF;
  background-image: linear-gradient(to right, #E0FFFF, #FFFFE0 100%);


  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
}

img {
    width: 300px;
    margin-bottom: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 15px;
  display: inline-block;
  margin-right: 1em;
  font-family: Georgia;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  border-top: #eee solid 1px;
  border-left: #eee solid 1px;
  border-right: #eee solid 1px;
}


input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
button {
    background-color: white;
    border: 2px solid #e7e7e7;
    color: black;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    margin-bottom: 1em;
}
.text {
  font-size: 1.1em;
  font-family: monospace;
}
.displayAll {
  float: right;
}
